body{
    background-color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    border: 0px;
    margin: 0px;

}


/* Navbar Works */

#header{
    padding-left: 70px;
    box-shadow: 0px 1px 0px 0px #c1bbbb;

}

#header a {
    text-decoration: none;
}

#header ul{
    display: inline-block;
}

.homeButton{
    font-size: 26px;
    font-weight: bold;
    display: inline;
    float: left;
}

.homeButton a{
    color: #470d02;
}

#header li{
    padding-left: 15px;
    margin: 16px;
    display: inline-block;
}


.left_side_element{
    font-size: 16px;
    display: inline;
}

.left_side_element a{
    color: black;
}

.right_side_element{
    font-size: 18px;
    float: right;
    display: inline;
}

.right_side_element a{
    color: #2025b3;
}



/* Content Portion */

.caption{
    padding-left: 70px;
    margin-top: 100px;
    padding-top: 10px;

}

.caption h3{
    font-weight: bold;
    font-size: xx-large;
    padding-left: 35px;
}

.caption p{
    padding-left: 35px;
}

.imgRight{
    float: right;
    padding-right: 90px;
}

.caption button{
    font-size: 24px;
    margin-left: 35px;
    background-color: #54D0C1;
    height: 50px;
    width: 250px;
    border: dodgerblue;
    border-radius: 25px;
}

.caption button a{
    color: white;
    text-decoration: none;
}

.captionImgCenter{
    padding-left: 20px;
}


.specialContents{
    background-color: #E6E8EC;
    width: 1080px;
    height: 560px;
    margin-top: 100px;
}

.specialContents .RightItemsTop{
    position: absolute;

    height: 100px;
    left: 410px;
    width: 350px;


    background: rgba(255, 212, 58, 0.4);
    border-radius: 20px 20px 0px 0px;

}

.specialContents .RightItemsBottom{
    /* Rectangle 4 */

    position: absolute;
    width: 350px;
    height: 200px;
    left: 410px;

    margin-top: 100px;
    background: rgba(23, 68, 135, 0.1);
    border-radius: 0px 0px 20px 20px;

}
.RightItemsTop h4{
    text-align: center;
}

.RightItemsBottom h4{
    text-align: center;
}

.imgLeft
{
    position: absolute;
    width: 250px;
    height: 300px;
}



    body .footer {
        bottom: 0;
        width: 100%;
        height: 30px;
        padding-top: 5px;
        color: white;
        background-color: #504d4d;
    }

